<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="5.15.4" targetFramework="net48" />
  <package id="FreeSpire.PDF" version="7.8.9" targetFramework="net48" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net48" />
  <package id="PdfiumViewer.Native.x86_64.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net48" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.5147" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
</packages>